
:root {
  --background-color-light: #ffffff;
  --text-color-light: #000000;
  --background-color-dark: #121212;
  --text-color-dark: #ffffff;
  --button-text-color-light: #000000;
  --button-text-color-dark: #ffffff;

 }


/* Box Model Hack */
*{
  box-sizing: border-box;
}

body {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
  transition: background-color 0.3s, color 0.3s;

}

body.dark-mode {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}


button {
  float: right;
  background: none; 
  color: var(--button-text-color-light); 
  border: 1px solid rgb(33, 165, 165);
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  padding: 5px;
  outline: 1px solid transparent; 
  transition: color 0.3s, outline 0.3s;
}

button:hover {
 border: 1px solid grey;
 border-radius: 5px;
}


body.dark-mode button {
  color: var(--button-text-color-dark); 
}


/******************************************
/* LAYOUT
/*******************************************/

.container {
width: 60%;
margin: 0 auto;
padding-top: 100px;
display: flex;
justify-content: space-around;
flex-wrap: wrap;

  /* height: 800px; */
}


nav {
 margin-top: 30px;

 width: 20%; 
 flex-grow: 1;
}

hr {
  color: black;
  height: 200px;
  border-left: 1px dashed grey;
  border-right: 1px dashed grey;
}

main {
  width: 600px;
  text-align: left;
  flex-grow: 2;
}

.main-nav {
  font-size: 20px;
  line-height: 28px;
}

h1 {

  margin-bottom: 60px;
}

a {
  color: rgb(33, 165, 165);
 
}

a:hover {
  text-decoration: none;
  color: grey;
}

li {
  list-style: none;
}


/************************************************** 
                 Hamburger ??
*************************************************/
/************************************************** 
                 Hamburger End
*************************************************/


h3 {
  margin: 0;
}
 
img {
  max-width: 600px;
}


footer {
  margin: 200px auto 20px auto;
  text-align: center;
}

.social-links {
  width: 170px;
  margin: 20px auto 20px auto;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.no-idea {
font-size: 1.5rem;
margin-top: 100px;
}

.standup-nav-links {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.standup-nav-link-first {
  width: 100%;
  margin-right: 0;
}

.daily-headings {
  text-decoration: underline;
}



/*********************************** 
          MEDIA QUERIES
*************************************/

 

/* Tablets */
@media (min-width: 600px) and (max-width: 1333px) {
  hr {
  display: none;
  }

  .container {
    padding-top: 20px;
  width: 80%;
  flex-direction: column;
    /* align-content: space-between; */
   
 }

  div {
  flex-direction: column;
  }

  nav {
  margin-top: 30px;
  width: 80%; 
  height: 100%;
  }

  .main-ul {
    display: flex;
    margin: 0 auto;
    margin-bottom: 20px;
    /* justify-content: left; */
  }
  


main {
  margin: 0 auto;
  width: 85%;
  
}

h1 {
  font-size: 30px;
  margin-top: 60px;
}

p {
  font-size: 20px;

}




}

@media only screen and (max-width: 600px) {
  hr {
   display: none;
  }

  .container {
    padding-top: 0;
    width: 90%;
  }

  .main-ul {
    display: flex;
    margin: 0 auto;
    margin-bottom: 20px;
    justify-content: space-around;
  }

  h1 {
    margin-top: 60px;
  }

  .social-links  {
    width: 100%;
    }

  main {
    width: 90%;
    /* text-align: left; */
  } 

}

/****************************************************** 
            Hamburger media
****************************************************/

